Shaheryar Anwar
Batch = AI 2023
Solution

Variable

In [1]:
x = 5
y = 6
print(x)#This show the x values
print(y)#This show the y values
print(8)#This show simple 8

5
6
8

In [3]:
x = 64 + 32
print(x)#This show simple sum of two values
#create a program that sums x + y
x = 3
y = 4
z = x + y##This show sum of x and y
print(z)

96
7

Strings

In [5]:
s = "My lucky number is %d, what is yours?" % 7
print(s[3:8])#The Slicing of string it means start with 3 elemnt and end with 8 other are skip
#Print the day, month, year
s = "The date is %d/%d/%d" % (7, 7, 2016)
print(s)

lucky
The date is 7/7/2016

Random numbers

In [7]:
import random # we use the Random module
x = random.randrange(0,10)#randome . means use the function and we use first rand then function name range is function it select the random number b/w 0 to 19
print(x)

1

In [8]:
import random as r # as use for the shortcut name calling
print(r.randrange(0,10))
print(r.randrange(0,10))
print(r.randrange(0,10))

0
8
2

Keyboard input

In [ ]:
number = input("Enter number: ")# we take input from user
print("Your phone number is : " + number)
#Make a program that asks the users preferred programming language.
lang = input("Python or Ruby?: ")# we take input from user
print("You chose : " + lang)

If statements

In [12]:
x = int(input("Number: "))#if you want numbers then must use int before input
if x < 0 or x > 10:#use if condition then use logical operator
    print("Invalid number")
else:#if upper condition become false then move to else
    print("Good choice")

Number: 6
Good choice

In [14]:
password = input("Password: ")
if password == "code":#we use logical operator
    print("Correct")
else:
    print("Incorrect")

Password: code
Correct

Foor Loop

In [15]:
clist = ['Canada','USA','Mexico','Australia'] #first we make a list
for c in clist:#use for loop for printing each element in list
    print(c)

Canada
USA
Mexico
Australia

In [16]:
clist = ["Canada","USA","Mexico"]
size = len(clist)# it show the length of clist
i = 0
while i < size:#while loop must exicute one time 
    print(clist[i])
    i = i + 1

Canada
USA
Mexico

Functions

In [24]:
def sum(list):#give on argument after sum function
    sum = 0
    for e in list:#use for loop
        sum = sum + e #increment of sum
        return sum #return value
mylist = [1,2,3,4,5]
print(sum(mylist))

1

Lists

In [29]:
states = [
'Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut', 'Delaware','Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','NewHampshire','New Jersey','New Mexico','New York','North Carolina','NorthDakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','SoutCarolina','SouthDakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','WestVirginia','Wisconsin','Wyoming' ]
for state in states:
    print(state)

Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
NewHampshire
New Jersey
New Mexico
New York
North Carolina
NorthDakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
SoutCarolina
SouthDakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
WestVirginia
Wisconsin
Wyoming

In [30]:
for state in states:
    if state[0] == 'M':#element starting with M onl printing
        print(state)

Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana

List operations

In [31]:
y = [6,4,2]
y.append(12)#append method add the number at the end of list
y.append(8)
y.append(4)
y[1] = 3 # convert one elment with 3 number ##must remember indexing start with 0
print(y)

[6, 3, 2, 12, 8, 4]

In [39]:
x = [(3,6),(4,7),(5,9),(8,4),(3,1)]
print (x.sort())

None

In [41]:
from operator import itemgetter#import the moudlue
x = [ (3,6),(4,7),(5,9),(8,4),(3,1)]
x.sort(key=itemgetter(1))#it sort the list
print(x)

[(3, 1), (8, 4), (3, 6), (4, 7), (5, 9)]

Range

In [42]:
x = list(range(1,1001))#range start with 1 to end the 1000
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [43]:
x = list(range(1,1001))
print(min(x))#minimum number in the list 
print(max(x))#maximum number in the list

1
1000

In [44]:
x = list(range(1,11,2))#slicing of the list 1 means start with1 11 means end with 11 2 means skip 2 numbers
y = list(range(2,11,2))#slicing of the list 2 means start with1 11 means end with 11 2 means skip 2 numbers
print(x)
print(y)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

Dictionaries

In [2]:
words = {}
words["US"] = "United States"#dictionary have values and keys
words["UK"] = "United Kingdom"
words["AUS"] = "Australia"

In [3]:
for key, value in words.items():
    print(key + " = " + value)

US = United States
UK = United Kingdom
AUS = Australia

Read Files

In [15]:
filename = "test.py.ipynb"#first create a file as the same name

with open(filename) as f:#open file and just read 
    lines = f.readlines()
    i = 1
for line in lines:#use for loop for looping
    print(str(i) + " " + line),
    i = i + 1#increamnet  in 1=i

1 {

2  "cells": [

3   {

4    "cell_type": "code",

5    "execution_count": 4,

6    "id": "2feb8188",

7    "metadata": {},

8    "outputs": [

9     {

10      "data": {

11       "text/plain": [

12        "'Best Religious is Islam'"

13       ]

14      },

15      "execution_count": 4,

16      "metadata": {},

17      "output_type": "execute_result"

18     }

19    ],

20    "source": [

21     "'i love Allah'\n",

22     "'I am Muslim'\n",

23     "'Best Religious is Islam'"

24    ]

25   },

26   {

27    "cell_type": "code",

28    "execution_count": null,

29    "id": "80497e2c",

30    "metadata": {},

31    "outputs": [],

32    "source": []

33   }

34  ],

35  "metadata": {

36   "kernelspec": {

37    "display_name": "Python 3 (ipykernel)",

38    "language": "python",

39    "name": "python3"

40   },

41   "language_info": {

42    "codemirror_mode": {

43     "name": "ipython",

44     "version": 3

45    },

46    "file_extension": ".py",

47    "mimetype": "text/x-python",

48    "name": "python",

49    "nbconvert_exporter": "python",

50    "pygments_lexer": "ipython3",

51    "version": "3.9.13"

52   }

53  },

54  "nbformat": 4,

55  "nbformat_minor": 5

56 }

In [18]:
f = open("test.txt","w")#open as a write mode
f.write("Take it easy\n")#write the line
f.close()#close the file
f = open("test.txt","w")
f.write("open(\"text.txt\")\n")
f.close()#close the file

In [20]:
for x in range(1,4):
    for y in range(1,4):#loop in loop
        print(str(x) + "," + str(y))

1,1
1,2
1,3
2,1
2,2
2,3
3,1
3,2
3,3

In [21]:
persons = [ "John", "Marissa", "Pete", "Dayton" ]
for p1 in persons:
    for p2 in persons:
        print(p1 + " meets " + p2)

John meets John
John meets Marissa
John meets Pete
John meets Dayton
Marissa meets John
Marissa meets Marissa
Marissa meets Pete
Marissa meets Dayton
Pete meets John
Pete meets Marissa
Pete meets Pete
Pete meets Dayton
Dayton meets John
Dayton meets Marissa
Dayton meets Pete
Dayton meets Dayton

Slices

In [25]:
pizzas = ["Hawai","Pepperoni","Fromaggi","Napolitana","Diavoli"]
slice = pizzas[2]#print the second index value
print(slice)
slice = pizzas[3:5]#start with 3 end with 5
print(slice)
#Slicing with text
s = "Hello World"
slices = s.split(" ")
print(slices[1])

Fromaggi
['Napolitana', 'Diavoli']
World

Multiple return

In [30]:
#Return a+b
def sum(a,b):
    return a+b
print( sum(2,4) )

6

In [35]:
def getUser():
    name = "Laura"
    age = 26
    job = "Pilot"
    education = "University"
    nationality = "Spain"
    return name,age,job,education, nationality
data = getUser()
print(data)

('Laura', 26, 'Pilot', 'University', 'Spain')

Time and date

In [36]:
import time#time module
timenow = time.localtime(time.time())
year,month,day,hour,minute = timenow[0:5]
print(str(year) + "-" + str(month) + "-" + str(day))

2023-7-23

Class

In [39]:
#!/usr/bin/python
class Website:
    def __init__(self,title):
        self.title = title
        self.location = "the web"
    def showTitle(self):
        print(self.title)
    def showLocation(self):
        print(self.location)
obj = Website('pythonbasics.org')
obj.showTitle()
obj.showLocation()

pythonbasics.org
the web

Constructor

In [46]:
# Alice = Human()
# Chris = Human()
#second solution
class Human:
    def __init__(self):
        self.legs = 2
        self.arms = 2
        self.eyes = 2
Human()

Getter and setter

In [2]:
class Friend:
    def __init__(self):
        self.job = "None"
        self.age = 0
    def getJob(self):
        return self.job
    def setJob(self, job):
        self.job = job
    def getAge(self):
        return self.age
    def setAge(self, age):
        self.age = age
Alice = Friend()
Alice.setJob("Carpenter")
Alice.setAge(33)
print(Alice.job)
print(Alice.age)

Carpenter
33

Modules

In [5]:
import math
print(math.sin(3))
# Inheritance
# first exercise
class iPhone(App):
    def getVersion(self):
        print('iPhone version')
iphone()

0.1411200080598672

NameError: name 'App' is not defined

In [6]:
class A:
    def start(self):
        print('starting')
class B:
    def go(self):
        print('go')
class C(A,B):
    def getVersion(self):
        print('Multiple inheritance class')
app = C()
app.start()
app.go()

starting
go

Enummerate

In [7]:
for item in enumerate(["a", "b", "c","d"]):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')